progress {
    border-radius: 10px; 
    width: 70%;
    margin:auto;
    
    height: 20px;
    box-shadow: 1px 1px 4px rgba(163, 163, 163, 0.2);
  }
  progress::-webkit-progress-bar {
    background-color: rgb(134, 134, 130);
    border-radius: 10px;
  }
  progress::-webkit-progress-value {
    background-color: rgb(30, 141, 45);
    border-radius: 10px;
    box-shadow: 1px 1px 5px 3px rgba(181, 233, 192, 0.8);
  }
  progress::-moz-progress-bar {
    background-color: aliceblue;
  }

  .progress-container {
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #button {
    padding: 10px 20px;
    margin: 10px;
    background: linear-gradient(to bottom, #ff8a00, #e52e71);
    border: none;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    max-width: 100%;
  }
  #button:hover {
    background: #ff8a00;
  }
  #end-ride {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    align-items: center;
  }
/*
  .card {
    height: 300px;
    width: 300px;
    -moz-box-shadow: 14px 16px 20px 3px rgba(0, 0, 0, 0.75);
box-shadow: 14px 16px 20px 3px rgba(2, 2, 2, 0.75);
  }
  
  .card:hover {
   
    -webkit-box-shadow: 14px 16px 20px 3px rgba(35,84,49,0.75);
-moz-box-shadow: 14px 16px 20px 3px rgba(35,84,49,0.75);
box-shadow: 14px 16px 20px 3px rgba(35,84,49,0.75);
  }
  
  .container {
    margin: auto;
    padding: 25px;
  }
  h3{
    text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 8em
    
    
  }**/


  .card:hover {
    -webkit-box-shadow: 14px 16px 20px 3px rgba(35,84,49,0.75);
    -moz-box-shadow: 14px 16px 20px 3px rgba(35,84,49,0.75);
    box-shadow: 14px 16px 20px 3px rgba(35,84,49,0.75);
  }
  
  body{
    background-color: rgb(221, 246, 227);
    align-items: center;
    /* margin: 20px; */
  }
  #card-element1{
    
    display: flex;
    justify-content: center;
    margin-bottom: 5% ;
    align-items: center; 
}
  #card-element2{
    
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  .card-title{
    color: rgb(20, 20, 89);
    text-shadow: 2px 2px rgb(255, 255, 255);
  }
  

  .card-text{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(20, 20, 89);
  }
  .card-title2{
    color: rgb(23, 94, 37);
    text-shadow: 2px 2px rgb(255, 255, 255);
  }

  .card-text2{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(23, 94, 37);
  }

  .profile-pic{
    margin: auto;
    border-radius: 100%;
    height: 150px;
  }
  .profile-pic-container {
    width: 100px;
    
    margin: 1%;
    height: 100px;
    border-radius: 100%;
  }
  
  .profile-pic-container img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .profile-pic-container:hover::before {
    
    position: absolute;
    top: 0;
    left: 0;
    
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .profile-pic-container:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }

  #left {    
    display: flex;
    justify-content: center;
    align-items: center;

    }  
